h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    text-align: center;
}

body {
    background-color: beige;
}

.newClass {
    background-color: green;
}
